#ask {
	display: inline-block;
	position: relative;
	margin: 1em 0;

	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0px 0px 50px gray;
	height: 7.5em;
	width: 12em;

	text-align: center;
	text-align: center;
	overflow: hidden;
}
#ask>.askmsg {
	display: inline-block;
	text-align: left;
	font-size: .8em;
	padding: .5em 1em;
	margin-top: 1em;
}
#ask>.btn {
	display: inline-block;
	position: relative;
	top: 1.3em;
	border-radius: 3px;
	color: white;
	font-size: .8em;
	padding: .5em 1em;
	margin: 0em .6em;
	cursor: pointer;
}
#ask>.btn:hover{
	border: 1px solid gray;
	box-shadow: 0px 0px 20px gray;
}
#ask>.yesBtn {
	background-color: red;
}
#ask>.noBtn {
	background-color: blue;
}

body {
	text-align: center;
	padding: 0;
	margin: 0;
	transition: all 3s;
}
body:hover {
	transition: all 3s;
	background-position: top;
}

div#wrap {
	display: block;
	text-align: center;

	max-width: 100%;
	max-height: 40em;
	padding-top: 0em;
	padding-bottom: 0em;
	overflow: hidden;

	background-position: center;
	background-size: auto auto;
	background-repeat: repeat-x;

	transition: all 3s;
}
ul#scrollLrc {
	text-align: center;
}

@keyframes goround {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}
@-webkit-keyframes goround {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}

div.round {
	animation: goround 6s infinite;
	-webkit-animation: goround 6s infinite;
}
div#alImg {
	display: inline-block;

	box-shadow: 5px 5px 10px black;

	background-image: url(OneRepublic.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border-radius: 100%;

	max-width: 60%;
	max-height: 60%;
	height: 120px;
	width: 120px;

	padding: 0 0;
	margin: .8em 0;
	transition: all 4s;

	vertical-align: middle;
}

span#w {
  display: block;
	padding: .3em 1em;
	min-height: 2.4em;
	background-color: rgba(100,100,100,.5);
	color: yellow;
	font-size: 1em;
	z-index: 99;
}
div#songMsg {
margin-top: .2em;
margin-bottom: 1.7em;
	display: block;
	height: 3em;
	color: white;
}
span#title {
	display:inline-block;
	font-size: 1.2em;
max-width: 100%;
	font-weight: 700;
	background-color: rgba(0,0,0,.3);
	border-radius: 20px;
	padding: .2em 1em;
}
span#album {
	font-size: 1.2em;
	font-weight: 500;
	background-color: rgba(0,0,0,.3);
	border-radius: 20px;
	margin-top: .2em;
	margin-bottom: 1em;
	padding: .1em 1em
}

div#lrc {
	display: inline-block;
	text-align: center;
	min-height: 40%;
	width: 100%;
	background-color: rgba(255,255,255,.3);
	height: 60%;
	overflow: hidden;

	transition: all .5s;
}
div#lrc:hover {
	transition: all .5s;
	background-color: rgba(255,255,255,.5);
}
ul#scrollLrc {
	position: relative;
	list-style-type: none;
	min-height: 25em;
	padding: 0;
	margin: 0;
}
.line {
	color: #333;
}
.line:hover {
	color: blue;
	background-color: white;
}
.focus {
	color: blue;
	font-weight: 700;
	background-color: rgba(255,255,255,.9);
	position: inline-block;
}

canvas#playMode {
	position: relative;
	top: 20px;
	font-size: 2em;
	font-weight: 800;
}
span#playTime {
	position: relative;
top: 1em;
	color: white;
	font-size: 2em;
	font-weight: 800;
}

div.bottom {
	height: 2em;
	display: block;
	position: static;
	text-align: center;
	bottom: 0px;
}
span#message {
	display: inline-block;
	position: relative;
	background-color: rgba(100,100,100,.5);
	color: black;
	font-size: .8em;
	text-align: center;
}
