body {
    padding: 0;
    margin: 0;
}
#background, #main {
    display: inline-block;
    position: absolute;
    height: 100%;
    width:  100%;
    box-sizing: border-box;

    min-height: 440px;
    min-width: 320px;
}
#background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
#main {
    border: black 2px solid;

    background-color: rgba(0,0,0,.8);
    color: white;

    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

#main> .row {
    display: block;
}
.one-second {
    transition: all ease-out .6s;
    -webkit-transition: all ease-out .6s;
    -moz-transition: all ease-out .6s;
}
.layer-1 {
    z-index: 10;
}
.layer-2 {
    z-index: 20;
}
.layer-3 {
    z-index: 30;
}

.left {
    float: left;
    margin-left: 10px;
}
.right {
    float: right;
    margin-right: 10px;
}


nav {
    padding-top: 10px;
    vertical-align: middle;
}
span#back, span#share {
    margin-top: .5em;
    display: inline-block;
    padding: .7em;
    background-size: contain;
    cursor: pointer;
}
span#back {
    background-image: url('icons/back-w.svg');
}
span#share {
    background-image: url('icons/share-w.svg');
}
#song-message,
#song-artist,
#song-title {
    display: inline-block;
}
#song-message {
    margin-left: 1em;
}
#song-artist {
    color: rgba(255,255,255, .5);
}

hr.divider {
    margin: 0;
    padding: 0;
    opacity: .2;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: -10px;
}

.speaker {
    margin-left: 2em;
    background-image: url('icons/speaker-w.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: .6em;
    padding-top: 0em;
    opacity: .6;

    cursor: pointer;
}


.empty, .fill, .loaded {
    position: absolute;
    display: inline-block;
}
.empty {
    width: 100%;
    border: 1px solid rgba(255,255,255,.3);
}
.fill {
    border: 1px solid rgba(255,255,255,.8);
}
.range-btn {
    display: inline-block;
    position: absolute;
    background-color: rgba(255,255,255,.8);

    width: 10px;
    height: 10px;
    border-radius: 5px;

    margin-top: -4px;
}
#volume-range, #time-range {
        display: inline-block;
        position: absolute;

        text-align: left;
        width: 50%;
        height: 10px;
        cursor: pointer;
}

#volume-range {
    margin-left: 1em;
    padding-top: .5em;
}
#volume-range .fill {
    width: 100%;
}
#volume-range .range-btn {
    left: 100%;
}




div#lyric-container {
    height: 28em;
    overflow: hidden;
    position: relative;
    min-height: 240px;
}

div#lyric-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
    line-height: 2em;
}
div#lyric-lrc, div#lyric-album {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}

/*support all*/
@keyframes goRound {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes goRound {
    from {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes goRound {
    from {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; } }
@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1; } }
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; } }
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } }
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; } }
@-moz-keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1; } }

div#lyric-album {
    position: absolute;
    top: 0;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}
div#lyric-album>span.disk {
    display: inline-block;
    position: relative;
    top: 0;
    padding: 5em;
    border-radius: 10em;
    border: black 2.5em solid;

    background-image: url('../OneRepublic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    animation: goRound 10s linear 0s infinite;
    animation-play-state: paused;
    -webkit-animation: goRound 10s linear 0s infinite;
    -webkit-animation-play-state: paused;
    -moz-animation: goRound 10s linear 0s infinite;
    -moz-animation-play-state: paused;
}
span.song-opt-grp {
    position: relative;
    display: inline-block;
    bottom: 0;
    text-align: center;
}
span.song-opt-grp > span {
    display: inline-block;
    padding: .8em;
    margin: 0 1em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
span.favorite {
    background-image: url('icons/favorite-w.png');
}
span.comments {
    background-image: url('icons/comments-w.svg');
}
span.file-option {
    background-image: url('icons/options-w.svg');
}

#option {
    /*display: none;*/
    position: absolute;
    width: 100%;
    bottom: 0;
}
#option-btn {
    background-image: url('icons/options-w.svg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;

    padding: .7em;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: .7em;

    display: inline-block;
    position: absolute;

    right: 1.2em;
    bottom: .2em;

    cursor: pointer;
}
#option-menu {
    display: inline-block;
    border-top: 1px solid white;
    position: absolute;
    right: 1.2em;
    bottom: 2.2em;
    background-color: rgba(0,0,0, .8);

    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
.menu-item {
    display: list-item;
    list-style: none;
    padding: .6em 2em;
    border-bottom: 1px solid white;

    cursor: pointer;
}
.hide-fold {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;

    transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;

    transform: scale(0);
    -webkit-transform: -webkit-scale(0);
    -moz-transform: -moz-scale(0);
}
.fade-out {
    animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
    -moz-animation: fadeout 1s;
}
.fade-in {
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
}

div.bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
}

#time {
    position: relative;
    vertical-align: middle;
    padding-bottom: 1em;
}
#time-range {
    left: 4em;
    top: .5em;
    padding-top: -0.4em;
}
#time-range .fill {
    border: 1px solid rgb(255, 0, 0);
}
#time-range .loaded {
    border: 1px solid rgb(255, 255, 255);
}

#current-time, #total-time {
    display: inline-block;
    position: absolute;
}
#current-time {
    float: left;
    left: 10px;
}
#total-time {
    float: right;
    right: 10px;
}

#controls {
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    margin: 1em 0;
}
#controls > span {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

span#play-mode, span#song-list {
    padding: 1em;
    background-size: contain;
    margin-top: 20px;
}
span#pre-song, span#next-song {
    border-radius: 1.4em;
    padding: 1.4em;
    background-repeat: no-repeat;
    background-position: 50%;
    border: white 2px solid;
}
span#play {
    background-image: url('icons/play-w.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    border: white 2px solid;
    border-radius: 2em;

    padding: 2em;
    text-align: center;
    vertical-align: middle;

    margin: 0 1.5em;
}
span#play-mode {
    background-image: url('icons/shuffle-w.svg');
}
span#pre-song {
    background-image: url('icons/pre-w.svg');
}
span#next-song {
    background-image: url('icons/next-w.svg');
}
span#song-list {
    background-image: url('icons/list-w.svg');
}


ul#lyric {
	text-align: center;
	position: relative;
	list-style-type: none;
	min-height: 25em;
	padding: 0;
	margin: 0;
}
.line {
	color: rgba(255,255,255,.5);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}
.focus {
	color: white;
	font-weight: 700;
	/*background-color: rgba(255,255,255,.9);*/
	position: inline-block;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
